.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0 1rem 0;
}

.container p {
  color: var(--light-slate);
  letter-spacing: 0.02em;
  text-align: justify;
}

.container p::selection {
  color: var(--green);
}

.container p span {
  color: var(--white);
}

.container p span a {
  text-decoration: none;
  color: var(--green);
}
