:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lighest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--navy);
  color: var(--white);
  scroll-behavior: smooth;
}

.feather {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  color: inherit;
  transition: all 0.5s ease;
}
.feather:hover {
  fill: var(--green);
  transform: scale(1.4);
}
